<div class="container">
  <div class="container-timer">
    <div class="timer">
      <h1 class="title">TIMER A11</h1>
      <div class="time">
        <h3 class="time-item">{{ Minutes | async | minutesFormat }}</h3>
        <h3 class="time-item">:</h3>
        <h3 class="time-item">15</h3>
      </div>
      <div class="container-button">
        <Button class="button-timer" (click)="stoptime()">
          <div class="button-title">Stop</div>
        </Button>
        <Button class="button-timer" (click)="goTrainer()">
          <div class="button-title">Trainer</div>
        </Button>
      </div>
    </div>
  </div>
</div>
